<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Displaying all the comments</h1>

    <% for(let item of comments){ %>
        <h1><%= item.id %></h1>
        <h1><%= item.username %></h1>
        <h1><%= item.comment %></h1>
        <a href="/comments/<%= item.id %>">Show this comment</a>
        <a href="/comments/<%= item.id %>/edit">Edit this Comment</a>
        <form action="/comments/<%= item.id %>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    <% } %>
</body>
</html>